@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');



*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Patrick Hand', cursive;
    font-size: 21px;
    background-image: url(../img/signos-del-zodiaco.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}



.contenedor{
    padding: 40px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/* Header */
.header{
     width: 100%;
     height: 700px;
     background: #2193b0;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, hsla(191, 78%, 68%, 0.471), hsla(192, 68%, 41%, 0.427)), url(../img/signos\ del\ zodiaco.jpg);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, hsla(191, 78%, 68%, 0.471), hsla(192, 68%, 41%, 0.427)), url(../img/signos\ del\ zodiaco.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background-size: cover;
     background-attachment: fixed;
     position: relative;
     

}

nav{
text-align: center;
padding: 30px 50px 0 0;

}

nav> a{ 
    color: white;
    font-weight: 300;
    text-decoration: none; 
    margin-right: 10px;
}

nav> a:hover{
    text-decoration: underline;

}

header .textos-header{
display: flex;
height: 430px;
width: 100%;
align-items: center;
justify-content: center;
color: #08153c;
font-size: 50px;
font-family: 'Berkshire Swash', cursive;
flex-direction: column;

}

.textos-header h1{
    font-size: 80px;
    color: #fff;
}

.textos-header h2{
    font-size: 40px;
    color: #fff;
    font-weight: 300;
}



.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.imagen-signos{
    width: 45%;
   

}

.contenedor-signos-zodiaco{
    display: flex;
    justify-content: space-evenly;
    
}

.contenido-textos{

    width: 80%;
    margin-left: 10px;
}


.contenido-textos h2 {
    font-size: 40px;
    color: rgb(111, 37, 164);
    font-weight: 300;   
    font-family: 'Berkshire Swash', cursive;

}

.contenido-textos h3 {
    font-size: 30px;
    color: rgb(92, 15, 144);
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    
}

.img-fondo{
    background-color: rgb(255, 255, 255);
    width: 70%;
    border: 3px solid black;
    border-style: outset;
    border-radius: 50px 50px 50px 50px ;
    padding: 20px;
    margin: 5% 13% 15% 15%
}

.row{

    display: flex;
    flex-wrap: wrap;
    
    }


li{
    display: list-item;
    list-style-position: inside;
}

/* Portafolio */

.otros-signos{
    background-image: url(../img/signos-del-zodiaco.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}

.galeria-otrsig{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.imagen-otrsig{
    width: 24%;
    margin-bottom: 3px;
    overflow: hidden;
    position: sticky;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    
}

.imagen-otrsig > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
   

}

.hover-galeria{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0px;
    transform: scale(0);
    background-color: hsla(234, 82%, 65%, 0.7);
    transition: transform .5s;
    transform: scale(0);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}

.hover-galeria img{
    width: 100%;
}

.hover-galeria p{
    color: rgb(255, 255, 255);
    
}
.imagen-otrsig:hover .hover-galeria{
    transform: scale(1);
}

.contenedor-trabj{
    width: 100%;
    justify-content: space-evenly;
    margin: auto;

}

.contenedor-trabj .img-trab{
    width: 19.5%;
    justify-content:center;
    object-fit: cover;
    

}
footer{
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: px;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(197, 35%, 64%, 0.471), hsla(192, 78%, 35%, 0.427)), url(../img/signos\ del\ zodiaco.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(236, 34%, 54%, 0.503), hsla(192, 68%, 41%, 0.427)), url(../img/signos\ del\ zodiaco.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin:auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;

}

.content-foo{
    text-align: center;
}

.content-foo h3{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
    margin-bottom: 10px;

}

.content-foo p{
    color: white;
  
}
h2{
    text-align: center;
    font-size:  24px;
    margin: 20px 0 0 0;
    color:rgba(253, 253, 253, 0.795);
    padding: 5px;
}